<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>laugh</key>
	<array>
		<array>
			<string>( ･⊝･ )</string>
			<string>( ･⊝･∞)</string>
			<string>( ´艸｀)</string>
			<string>ʕ·ᴥ·ʔ</string>
			<string>ʕ　·ᴥ·ʔ</string>
			<string>ʕ·ᴥ·　ʔ</string>
			<string>ʕ•ᴥ•ʔ</string>
			<string>ʕ　•ᴥ•ʔ</string>
			<string>ʕ•ᴥ•　ʔ</string>
			<string>ʕ￫ᴥ￩ʔ</string>
			<string>ʕ　￫ᴥ￩ʔ</string>
			<string>ʕ￫ᴥ￩　ʔ</string>
			<string>( #●´艸`)</string>
			<string>（　◜◡‾）（‾◡◝　）</string>
			<string>( ﾟДﾟ)y─┛~~</string>
			<string>(`･⊝･´)</string>
			<string>(　´･‿･｀)</string>
			<string>( ^-^)_旦””</string>
			<string>（　･`ω･´)</string>
			<string>(´+(ｴ)+`)</string>
			<string>(´◉ ω ◉`)？</string>
			<string>(´౪`)</string>
			<string>(´д｀、)</string>
			<string>(´つω・｀)</string>
			<string>(^///^)</string>
			<string>(＾౪)/</string>
			<string>(^q^)</string>
			<string>(￣･_______･￣)</string>
			<string>(￣(ｴ)￣)y-ﾟﾟﾟ</string>
			<string>(・∀・)</string>
			<string>(･□´･ｷ)＝≡⊃))</string>
			<string>(・ω・)</string>
			<string>(・ω&lt;)</string>
			<string>(`o´)</string>
			<string>(`ζ´)</string>
			<string>(´-д-`)</string>
			<string>(´･ω･｀)</string>
			<string>(´・ω・｀)</string>
			<string>(´･ω･`)</string>
			<string>(´,,・ω・,,｀)</string>
			<string>（´｡~ω~｡｀）</string>
			<string>(´｡✪ω✪｡｀)</string>
			<string>(｡◕ ∀ ◕｡)</string>
			<string>｀ｨ(´∀｀∩</string>
			<string>__ﾛ(,_,*)♪</string>
			<string>・(￣∀￣)・:*:</string>
			<string>ﾟ･✿ヾ╲(｡◕‿◕｡)╱✿･ﾟ</string>
			<string>,。・:*:・゜’( ☻ ω ☻ )。・:*:・゜’ 　</string>
			<string>:*:・(*´ω`pq゛</string>
			<string>!(^3^)!</string>
			<string>…φ(･ω･*)☆･ﾟ:*　</string>
			<string>。･゜･(｡´ﾉω･`)。</string>
			<string>｡･ﾟ･(ﾉ∀｀)･ﾟ･｡</string>
			<string>｡*｡+｡(｀･ω･｡)o　o(｡･ω･´)｡+｡*｡　</string>
			<string>｡ﾟ+.( °∀°)ﾟ+.ﾟ</string>
			<string>(;´ρ`)</string>
			<string>(;´д｀)</string>
			<string>(；◔ิд◔ิ) </string>
			<string>(｡･_･｡)</string>
			<string>(｡･ˇ_ˇ･｡)</string>
			<string>(｡･ω･｡)</string>
			<string>(｡･Д･)ゞ</string>
			<string>(｡◕ฺˇε ˇ◕ฺ｡）</string>
			<string>₍₍ ◝(●˙꒳˙●)◜ ₎₎</string>
			<string>（[∂]ω[∂]）</string>
			<string>(」`o´)」</string>
			<string>(／`o´)／</string>
			<string>(」・ω・)」</string>
			<string>(／・ω・)／</string>
			<string>(＠´,,・ω・,,｀＠)</string>
			<string>(＠&apos;ω&apos;＠)</string>
			<string>(* Ŏ∀Ŏ)･;ﾞ.:’;、</string>
			<string>(*｀･ω･)ゞ</string>
			<string>(*｀益´*)</string>
			<string>(*´･ω･)(･ω･｀*)</string>
			<string>(*´ω｀*)</string>
			<string>(*＾＾*)</string>
			<string>（*＾-＾*）</string>
			<string>(*・〜・*)</string>
			<string>(*・ω・)</string>
			<string>(*‘ω‘ *)</string>
			<string>(*∂ω∂*｀)</string>
			<string>(*∩ω∩)</string>
			<string>(*≧∀≦*)</string>
			<string>(*ﾟÅﾟ；*)</string>
			<string>（*థ౪థ）</string>
			<string>(*ﾟｪﾟ*)</string>
			<string>(*ﾉ∀`*)</string>
			<string>(*ﾉ∀◕ฺ*)σ</string>
			<string>(/ω＼)</string>
			<string>(つд・)</string>
			<string>（#＾ω＾）</string>
		</array>
	</array>
	<key>happy</key>
	<array>
		<array>
			<string>( ･⊝･ )</string>
			<string>( ･⊝･∞)</string>
			<string>( ´艸｀)</string>
			<string>ʕ·ᴥ·ʔ</string>
			<string>ʕ　·ᴥ·ʔ</string>
			<string>ʕ·ᴥ·　ʔ</string>
			<string>ʕ•ᴥ•ʔ</string>
			<string>ʕ　•ᴥ•ʔ</string>
			<string>ʕ•ᴥ•　ʔ</string>
			<string>ʕ￫ᴥ￩ʔ</string>
			<string>ʕ　￫ᴥ￩ʔ</string>
			<string>ʕ￫ᴥ￩　ʔ</string>
			<string>( #●´艸`)</string>
			<string>（　◜◡‾）（‾◡◝　）</string>
			<string>( ﾟДﾟ)y─┛~~</string>
			<string>(`･⊝･´)</string>
			<string>(　´･‿･｀)</string>
			<string>( ^-^)_旦””</string>
			<string>（　･`ω･´)</string>
			<string>(´+(ｴ)+`)</string>
			<string>(´◉ ω ◉`)？</string>
			<string>(´౪`)</string>
			<string>(´д｀、)</string>
			<string>(´つω・｀)</string>
			<string>(^///^)</string>
			<string>(＾౪)/</string>
			<string>(^q^)</string>
			<string>(￣･_______･￣)</string>
			<string>(￣(ｴ)￣)y-ﾟﾟﾟ</string>
			<string>(・∀・)</string>
			<string>(･□´･ｷ)＝≡⊃))</string>
			<string>(・ω・)</string>
			<string>(・ω&lt;)</string>
			<string>(`o´)</string>
			<string>(`ζ´)</string>
			<string>(´-д-`)</string>
			<string>(´･ω･｀)</string>
			<string>(´・ω・｀)</string>
			<string>(´･ω･`)</string>
			<string>(´,,・ω・,,｀)</string>
			<string>（´｡~ω~｡｀）</string>
			<string>(´｡✪ω✪｡｀)</string>
			<string>(｡◕ ∀ ◕｡)</string>
			<string>｀ｨ(´∀｀∩</string>
			<string>__ﾛ(,_,*)♪</string>
			<string>・(￣∀￣)・:*:</string>
			<string>ﾟ･✿ヾ╲(｡◕‿◕｡)╱✿･ﾟ</string>
			<string>,。・:*:・゜’( ☻ ω ☻ )。・:*:・゜’ 　</string>
			<string>:*:・(*´ω`pq゛</string>
			<string>!(^3^)!</string>
			<string>…φ(･ω･*)☆･ﾟ:*　</string>
			<string>。･゜･(｡´ﾉω･`)。</string>
			<string>｡･ﾟ･(ﾉ∀｀)･ﾟ･｡</string>
			<string>｡*｡+｡(｀･ω･｡)o　o(｡･ω･´)｡+｡*｡　</string>
			<string>｡ﾟ+.( °∀°)ﾟ+.ﾟ</string>
			<string>(;´ρ`)</string>
			<string>(;´д｀)</string>
			<string>(；◔ิд◔ิ) </string>
			<string>(｡･_･｡)</string>
			<string>(｡･ˇ_ˇ･｡)</string>
			<string>(｡･ω･｡)</string>
			<string>(｡･Д･)ゞ</string>
			<string>(｡◕ฺˇε ˇ◕ฺ｡）</string>
			<string>₍₍ ◝(●˙꒳˙●)◜ ₎₎</string>
			<string>（[∂]ω[∂]）</string>
			<string>(」`o´)」</string>
			<string>(／`o´)／</string>
			<string>(」・ω・)」</string>
			<string>(／・ω・)／</string>
			<string>(＠´,,・ω・,,｀＠)</string>
			<string>(＠&apos;ω&apos;＠)</string>
			<string>(* Ŏ∀Ŏ)･;ﾞ.:’;、</string>
			<string>(*｀･ω･)ゞ</string>
			<string>(*｀益´*)</string>
			<string>(*´･ω･)(･ω･｀*)</string>
			<string>(*´ω｀*)</string>
			<string>(*＾＾*)</string>
			<string>（*＾-＾*）</string>
			<string>(*・〜・*)</string>
			<string>(*・ω・)</string>
			<string>(*‘ω‘ *)</string>
			<string>(*∂ω∂*｀)</string>
			<string>(*∩ω∩)</string>
			<string>(*≧∀≦*)</string>
			<string>(*ﾟÅﾟ；*)</string>
			<string>（*థ౪థ）</string>
			<string>(*ﾟｪﾟ*)</string>
			<string>(*ﾉ∀`*)</string>
			<string>(*ﾉ∀◕ฺ*)σ</string>
			<string>(/ω＼)</string>
			<string>(つд・)</string>
			<string>（#＾ω＾）</string>
		</array>
	</array>
	<key>angry</key>
	<array>
		<array>
			<string>( ･⊝･ )</string>
			<string>( ･⊝･∞)</string>
			<string>( ´艸｀)</string>
			<string>ʕ·ᴥ·ʔ</string>
			<string>ʕ　·ᴥ·ʔ</string>
			<string>ʕ·ᴥ·　ʔ</string>
			<string>ʕ•ᴥ•ʔ</string>
			<string>ʕ　•ᴥ•ʔ</string>
			<string>ʕ•ᴥ•　ʔ</string>
			<string>ʕ￫ᴥ￩ʔ</string>
			<string>ʕ　￫ᴥ￩ʔ</string>
			<string>ʕ￫ᴥ￩　ʔ</string>
			<string>( #●´艸`)</string>
			<string>（　◜◡‾）（‾◡◝　）</string>
			<string>( ﾟДﾟ)y─┛~~</string>
			<string>(`･⊝･´)</string>
			<string>(　´･‿･｀)</string>
			<string>( ^-^)_旦””</string>
			<string>（　･`ω･´)</string>
			<string>(´+(ｴ)+`)</string>
			<string>(´◉ ω ◉`)？</string>
			<string>(´౪`)</string>
			<string>(´д｀、)</string>
			<string>(´つω・｀)</string>
			<string>(^///^)</string>
			<string>(＾౪)/</string>
			<string>(^q^)</string>
			<string>(￣･_______･￣)</string>
			<string>(￣(ｴ)￣)y-ﾟﾟﾟ</string>
			<string>(・∀・)</string>
			<string>(･□´･ｷ)＝≡⊃))</string>
			<string>(・ω・)</string>
			<string>(・ω&lt;)</string>
			<string>(`o´)</string>
			<string>(`ζ´)</string>
			<string>(´-д-`)</string>
			<string>(´･ω･｀)</string>
			<string>(´・ω・｀)</string>
			<string>(´･ω･`)</string>
			<string>(´,,・ω・,,｀)</string>
			<string>（´｡~ω~｡｀）</string>
			<string>(´｡✪ω✪｡｀)</string>
			<string>(｡◕ ∀ ◕｡)</string>
			<string>｀ｨ(´∀｀∩</string>
			<string>__ﾛ(,_,*)♪</string>
			<string>・(￣∀￣)・:*:</string>
			<string>ﾟ･✿ヾ╲(｡◕‿◕｡)╱✿･ﾟ</string>
			<string>,。・:*:・゜’( ☻ ω ☻ )。・:*:・゜’ 　</string>
			<string>:*:・(*´ω`pq゛</string>
			<string>!(^3^)!</string>
			<string>…φ(･ω･*)☆･ﾟ:*　</string>
			<string>。･゜･(｡´ﾉω･`)。</string>
			<string>｡･ﾟ･(ﾉ∀｀)･ﾟ･｡</string>
			<string>｡*｡+｡(｀･ω･｡)o　o(｡･ω･´)｡+｡*｡　</string>
			<string>｡ﾟ+.( °∀°)ﾟ+.ﾟ</string>
			<string>(;´ρ`)</string>
			<string>(;´д｀)</string>
			<string>(；◔ิд◔ิ) </string>
			<string>(｡･_･｡)</string>
			<string>(｡･ˇ_ˇ･｡)</string>
			<string>(｡･ω･｡)</string>
			<string>(｡･Д･)ゞ</string>
			<string>(｡◕ฺˇε ˇ◕ฺ｡）</string>
			<string>₍₍ ◝(●˙꒳˙●)◜ ₎₎</string>
			<string>（[∂]ω[∂]）</string>
			<string>(」`o´)」</string>
			<string>(／`o´)／</string>
			<string>(」・ω・)」</string>
			<string>(／・ω・)／</string>
			<string>(＠´,,・ω・,,｀＠)</string>
			<string>(＠&apos;ω&apos;＠)</string>
			<string>(* Ŏ∀Ŏ)･;ﾞ.:’;、</string>
			<string>(*｀･ω･)ゞ</string>
			<string>(*｀益´*)</string>
			<string>(*´･ω･)(･ω･｀*)</string>
			<string>(*´ω｀*)</string>
			<string>(*＾＾*)</string>
			<string>（*＾-＾*）</string>
			<string>(*・〜・*)</string>
			<string>(*・ω・)</string>
			<string>(*‘ω‘ *)</string>
			<string>(*∂ω∂*｀)</string>
			<string>(*∩ω∩)</string>
			<string>(*≧∀≦*)</string>
			<string>(*ﾟÅﾟ；*)</string>
			<string>（*థ౪థ）</string>
			<string>(*ﾟｪﾟ*)</string>
			<string>(*ﾉ∀`*)</string>
			<string>(*ﾉ∀◕ฺ*)σ</string>
			<string>(/ω＼)</string>
			<string>(つд・)</string>
			<string>（#＾ω＾）</string>
		</array>
	</array>
	<key>sad</key>
	<array>
		<array>
			<string>( ･⊝･ )</string>
			<string>( ･⊝･∞)</string>
			<string>( ´艸｀)</string>
			<string>ʕ·ᴥ·ʔ</string>
			<string>ʕ　·ᴥ·ʔ</string>
			<string>ʕ·ᴥ·　ʔ</string>
			<string>ʕ•ᴥ•ʔ</string>
			<string>ʕ　•ᴥ•ʔ</string>
			<string>ʕ•ᴥ•　ʔ</string>
			<string>ʕ￫ᴥ￩ʔ</string>
			<string>ʕ　￫ᴥ￩ʔ</string>
			<string>ʕ￫ᴥ￩　ʔ</string>
			<string>( #●´艸`)</string>
			<string>（　◜◡‾）（‾◡◝　）</string>
			<string>( ﾟДﾟ)y─┛~~</string>
			<string>(`･⊝･´)</string>
			<string>(　´･‿･｀)</string>
			<string>( ^-^)_旦””</string>
			<string>（　･`ω･´)</string>
			<string>(´+(ｴ)+`)</string>
			<string>(´◉ ω ◉`)？</string>
			<string>(´౪`)</string>
			<string>(´д｀、)</string>
			<string>(´つω・｀)</string>
			<string>(^///^)</string>
			<string>(＾౪)/</string>
			<string>(^q^)</string>
			<string>(￣･_______･￣)</string>
			<string>(￣(ｴ)￣)y-ﾟﾟﾟ</string>
			<string>(・∀・)</string>
			<string>(･□´･ｷ)＝≡⊃))</string>
			<string>(・ω・)</string>
			<string>(・ω&lt;)</string>
			<string>(`o´)</string>
			<string>(`ζ´)</string>
			<string>(´-д-`)</string>
			<string>(´･ω･｀)</string>
			<string>(´・ω・｀)</string>
			<string>(´･ω･`)</string>
			<string>(´,,・ω・,,｀)</string>
			<string>（´｡~ω~｡｀）</string>
			<string>(´｡✪ω✪｡｀)</string>
			<string>(｡◕ ∀ ◕｡)</string>
			<string>｀ｨ(´∀｀∩</string>
			<string>__ﾛ(,_,*)♪</string>
			<string>・(￣∀￣)・:*:</string>
			<string>ﾟ･✿ヾ╲(｡◕‿◕｡)╱✿･ﾟ</string>
			<string>,。・:*:・゜’( ☻ ω ☻ )。・:*:・゜’ 　</string>
			<string>:*:・(*´ω`pq゛</string>
			<string>!(^3^)!</string>
			<string>…φ(･ω･*)☆･ﾟ:*　</string>
			<string>。･゜･(｡´ﾉω･`)。</string>
			<string>｡･ﾟ･(ﾉ∀｀)･ﾟ･｡</string>
			<string>｡*｡+｡(｀･ω･｡)o　o(｡･ω･´)｡+｡*｡　</string>
			<string>｡ﾟ+.( °∀°)ﾟ+.ﾟ</string>
			<string>(;´ρ`)</string>
			<string>(;´д｀)</string>
			<string>(；◔ิд◔ิ) </string>
			<string>(｡･_･｡)</string>
			<string>(｡･ˇ_ˇ･｡)</string>
			<string>(｡･ω･｡)</string>
			<string>(｡･Д･)ゞ</string>
			<string>(｡◕ฺˇε ˇ◕ฺ｡）</string>
			<string>₍₍ ◝(●˙꒳˙●)◜ ₎₎</string>
			<string>（[∂]ω[∂]）</string>
			<string>(」`o´)」</string>
			<string>(／`o´)／</string>
			<string>(」・ω・)」</string>
			<string>(／・ω・)／</string>
			<string>(＠´,,・ω・,,｀＠)</string>
			<string>(＠&apos;ω&apos;＠)</string>
			<string>(* Ŏ∀Ŏ)･;ﾞ.:’;、</string>
			<string>(*｀･ω･)ゞ</string>
			<string>(*｀益´*)</string>
			<string>(*´･ω･)(･ω･｀*)</string>
			<string>(*´ω｀*)</string>
			<string>(*＾＾*)</string>
			<string>（*＾-＾*）</string>
			<string>(*・〜・*)</string>
			<string>(*・ω・)</string>
			<string>(*‘ω‘ *)</string>
			<string>(*∂ω∂*｀)</string>
			<string>(*∩ω∩)</string>
			<string>(*≧∀≦*)</string>
			<string>(*ﾟÅﾟ；*)</string>
			<string>（*థ౪థ）</string>
			<string>(*ﾟｪﾟ*)</string>
			<string>(*ﾉ∀`*)</string>
			<string>(*ﾉ∀◕ฺ*)σ</string>
			<string>(/ω＼)</string>
			<string>(つд・)</string>
			<string>（#＾ω＾）</string>
		</array>
	</array>
	<key>Test4</key>
	<array>
		<array>
			<string>( ･⊝･ )</string>
			<string>( ･⊝･∞)</string>
			<string>( ´艸｀)</string>
			<string>ʕ·ᴥ·ʔ</string>
			<string>ʕ　·ᴥ·ʔ</string>
			<string>ʕ·ᴥ·　ʔ</string>
			<string>ʕ•ᴥ•ʔ</string>
			<string>ʕ　•ᴥ•ʔ</string>
			<string>ʕ•ᴥ•　ʔ</string>
			<string>ʕ￫ᴥ￩ʔ</string>
			<string>ʕ　￫ᴥ￩ʔ</string>
			<string>ʕ￫ᴥ￩　ʔ</string>
			<string>( #●´艸`)</string>
			<string>（　◜◡‾）（‾◡◝　）</string>
			<string>( ﾟДﾟ)y─┛~~</string>
			<string>(`･⊝･´)</string>
			<string>(　´･‿･｀)</string>
			<string>( ^-^)_旦””</string>
			<string>（　･`ω･´)</string>
			<string>(´+(ｴ)+`)</string>
			<string>(´◉ ω ◉`)？</string>
			<string>(´౪`)</string>
			<string>(´д｀、)</string>
			<string>(´つω・｀)</string>
			<string>(^///^)</string>
			<string>(＾౪)/</string>
			<string>(^q^)</string>
			<string>(￣･_______･￣)</string>
			<string>(￣(ｴ)￣)y-ﾟﾟﾟ</string>
			<string>(・∀・)</string>
			<string>(･□´･ｷ)＝≡⊃))</string>
			<string>(・ω・)</string>
			<string>(・ω&lt;)</string>
			<string>(`o´)</string>
			<string>(`ζ´)</string>
			<string>(´-д-`)</string>
			<string>(´･ω･｀)</string>
			<string>(´・ω・｀)</string>
			<string>(´･ω･`)</string>
			<string>(´,,・ω・,,｀)</string>
			<string>（´｡~ω~｡｀）</string>
			<string>(´｡✪ω✪｡｀)</string>
			<string>(｡◕ ∀ ◕｡)</string>
			<string>｀ｨ(´∀｀∩</string>
			<string>__ﾛ(,_,*)♪</string>
			<string>・(￣∀￣)・:*:</string>
			<string>ﾟ･✿ヾ╲(｡◕‿◕｡)╱✿･ﾟ</string>
			<string>,。・:*:・゜’( ☻ ω ☻ )。・:*:・゜’ 　</string>
			<string>:*:・(*´ω`pq゛</string>
			<string>!(^3^)!</string>
			<string>…φ(･ω･*)☆･ﾟ:*　</string>
			<string>。･゜･(｡´ﾉω･`)。</string>
			<string>｡･ﾟ･(ﾉ∀｀)･ﾟ･｡</string>
			<string>｡*｡+｡(｀･ω･｡)o　o(｡･ω･´)｡+｡*｡　</string>
			<string>｡ﾟ+.( °∀°)ﾟ+.ﾟ</string>
			<string>(;´ρ`)</string>
			<string>(;´д｀)</string>
			<string>(；◔ิд◔ิ) </string>
			<string>(｡･_･｡)</string>
			<string>(｡･ˇ_ˇ･｡)</string>
			<string>(｡･ω･｡)</string>
			<string>(｡･Д･)ゞ</string>
			<string>(｡◕ฺˇε ˇ◕ฺ｡）</string>
			<string>₍₍ ◝(●˙꒳˙●)◜ ₎₎</string>
			<string>（[∂]ω[∂]）</string>
			<string>(」`o´)」</string>
			<string>(／`o´)／</string>
			<string>(」・ω・)」</string>
			<string>(／・ω・)／</string>
			<string>(＠´,,・ω・,,｀＠)</string>
			<string>(＠&apos;ω&apos;＠)</string>
			<string>(* Ŏ∀Ŏ)･;ﾞ.:’;、</string>
			<string>(*｀･ω･)ゞ</string>
			<string>(*｀益´*)</string>
			<string>(*´･ω･)(･ω･｀*)</string>
			<string>(*´ω｀*)</string>
			<string>(*＾＾*)</string>
			<string>（*＾-＾*）</string>
			<string>(*・〜・*)</string>
			<string>(*・ω・)</string>
			<string>(*‘ω‘ *)</string>
			<string>(*∂ω∂*｀)</string>
			<string>(*∩ω∩)</string>
			<string>(*≧∀≦*)</string>
			<string>(*ﾟÅﾟ；*)</string>
			<string>（*థ౪థ）</string>
			<string>(*ﾟｪﾟ*)</string>
			<string>(*ﾉ∀`*)</string>
			<string>(*ﾉ∀◕ฺ*)σ</string>
			<string>(/ω＼)</string>
			<string>(つд・)</string>
			<string>（#＾ω＾）</string>
		</array>
	</array>
	<key>Test5</key>
	<array>
		<array>
			<string>( ･⊝･ )</string>
			<string>( ･⊝･∞)</string>
			<string>( ´艸｀)</string>
			<string>ʕ·ᴥ·ʔ</string>
			<string>ʕ　·ᴥ·ʔ</string>
			<string>ʕ·ᴥ·　ʔ</string>
			<string>ʕ•ᴥ•ʔ</string>
			<string>ʕ　•ᴥ•ʔ</string>
			<string>ʕ•ᴥ•　ʔ</string>
			<string>ʕ￫ᴥ￩ʔ</string>
			<string>ʕ　￫ᴥ￩ʔ</string>
			<string>ʕ￫ᴥ￩　ʔ</string>
			<string>( #●´艸`)</string>
			<string>（　◜◡‾）（‾◡◝　）</string>
			<string>( ﾟДﾟ)y─┛~~</string>
			<string>(`･⊝･´)</string>
			<string>(　´･‿･｀)</string>
			<string>( ^-^)_旦””</string>
			<string>（　･`ω･´)</string>
			<string>(´+(ｴ)+`)</string>
			<string>(´◉ ω ◉`)？</string>
			<string>(´౪`)</string>
			<string>(´д｀、)</string>
			<string>(´つω・｀)</string>
			<string>(^///^)</string>
			<string>(＾౪)/</string>
			<string>(^q^)</string>
			<string>(￣･_______･￣)</string>
			<string>(￣(ｴ)￣)y-ﾟﾟﾟ</string>
			<string>(・∀・)</string>
			<string>(･□´･ｷ)＝≡⊃))</string>
			<string>(・ω・)</string>
			<string>(・ω&lt;)</string>
			<string>(`o´)</string>
			<string>(`ζ´)</string>
			<string>(´-д-`)</string>
			<string>(´･ω･｀)</string>
			<string>(´・ω・｀)</string>
			<string>(´･ω･`)</string>
			<string>(´,,・ω・,,｀)</string>
			<string>（´｡~ω~｡｀）</string>
			<string>(´｡✪ω✪｡｀)</string>
			<string>(｡◕ ∀ ◕｡)</string>
			<string>｀ｨ(´∀｀∩</string>
			<string>__ﾛ(,_,*)♪</string>
			<string>・(￣∀￣)・:*:</string>
			<string>ﾟ･✿ヾ╲(｡◕‿◕｡)╱✿･ﾟ</string>
			<string>,。・:*:・゜’( ☻ ω ☻ )。・:*:・゜’ 　</string>
			<string>:*:・(*´ω`pq゛</string>
			<string>!(^3^)!</string>
			<string>…φ(･ω･*)☆･ﾟ:*　</string>
			<string>。･゜･(｡´ﾉω･`)。</string>
			<string>｡･ﾟ･(ﾉ∀｀)･ﾟ･｡</string>
			<string>｡*｡+｡(｀･ω･｡)o　o(｡･ω･´)｡+｡*｡　</string>
			<string>｡ﾟ+.( °∀°)ﾟ+.ﾟ</string>
			<string>(;´ρ`)</string>
			<string>(;´д｀)</string>
			<string>(；◔ิд◔ิ) </string>
			<string>(｡･_･｡)</string>
			<string>(｡･ˇ_ˇ･｡)</string>
			<string>(｡･ω･｡)</string>
			<string>(｡･Д･)ゞ</string>
			<string>(｡◕ฺˇε ˇ◕ฺ｡）</string>
			<string>₍₍ ◝(●˙꒳˙●)◜ ₎₎</string>
			<string>（[∂]ω[∂]）</string>
			<string>(」`o´)」</string>
			<string>(／`o´)／</string>
			<string>(」・ω・)」</string>
			<string>(／・ω・)／</string>
			<string>(＠´,,・ω・,,｀＠)</string>
			<string>(＠&apos;ω&apos;＠)</string>
			<string>(* Ŏ∀Ŏ)･;ﾞ.:’;、</string>
			<string>(*｀･ω･)ゞ</string>
			<string>(*｀益´*)</string>
			<string>(*´･ω･)(･ω･｀*)</string>
			<string>(*´ω｀*)</string>
			<string>(*＾＾*)</string>
			<string>（*＾-＾*）</string>
			<string>(*・〜・*)</string>
			<string>(*・ω・)</string>
			<string>(*‘ω‘ *)</string>
			<string>(*∂ω∂*｀)</string>
			<string>(*∩ω∩)</string>
			<string>(*≧∀≦*)</string>
			<string>(*ﾟÅﾟ；*)</string>
			<string>（*థ౪థ）</string>
			<string>(*ﾟｪﾟ*)</string>
			<string>(*ﾉ∀`*)</string>
			<string>(*ﾉ∀◕ฺ*)σ</string>
			<string>(/ω＼)</string>
			<string>(つд・)</string>
			<string>（#＾ω＾）</string>
		</array>
	</array>
	<key>Test6</key>
	<array>
		<array>
			<string>( ･⊝･ )</string>
			<string>( ･⊝･∞)</string>
			<string>( ´艸｀)</string>
			<string>ʕ·ᴥ·ʔ</string>
			<string>ʕ　·ᴥ·ʔ</string>
			<string>ʕ·ᴥ·　ʔ</string>
			<string>ʕ•ᴥ•ʔ</string>
			<string>ʕ　•ᴥ•ʔ</string>
			<string>ʕ•ᴥ•　ʔ</string>
			<string>ʕ￫ᴥ￩ʔ</string>
			<string>ʕ　￫ᴥ￩ʔ</string>
			<string>ʕ￫ᴥ￩　ʔ</string>
			<string>( #●´艸`)</string>
			<string>（　◜◡‾）（‾◡◝　）</string>
			<string>( ﾟДﾟ)y─┛~~</string>
			<string>(`･⊝･´)</string>
			<string>(　´･‿･｀)</string>
			<string>( ^-^)_旦””</string>
			<string>（　･`ω･´)</string>
			<string>(´+(ｴ)+`)</string>
			<string>(´◉ ω ◉`)？</string>
			<string>(´౪`)</string>
			<string>(´д｀、)</string>
			<string>(´つω・｀)</string>
			<string>(^///^)</string>
			<string>(＾౪)/</string>
			<string>(^q^)</string>
			<string>(￣･_______･￣)</string>
			<string>(￣(ｴ)￣)y-ﾟﾟﾟ</string>
			<string>(・∀・)</string>
			<string>(･□´･ｷ)＝≡⊃))</string>
			<string>(・ω・)</string>
			<string>(・ω&lt;)</string>
			<string>(`o´)</string>
			<string>(`ζ´)</string>
			<string>(´-д-`)</string>
			<string>(´･ω･｀)</string>
			<string>(´・ω・｀)</string>
			<string>(´･ω･`)</string>
			<string>(´,,・ω・,,｀)</string>
			<string>（´｡~ω~｡｀）</string>
			<string>(´｡✪ω✪｡｀)</string>
			<string>(｡◕ ∀ ◕｡)</string>
			<string>｀ｨ(´∀｀∩</string>
			<string>__ﾛ(,_,*)♪</string>
			<string>・(￣∀￣)・:*:</string>
			<string>ﾟ･✿ヾ╲(｡◕‿◕｡)╱✿･ﾟ</string>
			<string>,。・:*:・゜’( ☻ ω ☻ )。・:*:・゜’ 　</string>
			<string>:*:・(*´ω`pq゛</string>
			<string>!(^3^)!</string>
			<string>…φ(･ω･*)☆･ﾟ:*　</string>
			<string>。･゜･(｡´ﾉω･`)。</string>
			<string>｡･ﾟ･(ﾉ∀｀)･ﾟ･｡</string>
			<string>｡*｡+｡(｀･ω･｡)o　o(｡･ω･´)｡+｡*｡　</string>
			<string>｡ﾟ+.( °∀°)ﾟ+.ﾟ</string>
			<string>(;´ρ`)</string>
			<string>(;´д｀)</string>
			<string>(；◔ิд◔ิ) </string>
			<string>(｡･_･｡)</string>
			<string>(｡･ˇ_ˇ･｡)</string>
			<string>(｡･ω･｡)</string>
			<string>(｡･Д･)ゞ</string>
			<string>(｡◕ฺˇε ˇ◕ฺ｡）</string>
			<string>₍₍ ◝(●˙꒳˙●)◜ ₎₎</string>
			<string>（[∂]ω[∂]）</string>
			<string>(」`o´)」</string>
			<string>(／`o´)／</string>
			<string>(」・ω・)」</string>
			<string>(／・ω・)／</string>
			<string>(＠´,,・ω・,,｀＠)</string>
			<string>(＠&apos;ω&apos;＠)</string>
			<string>(* Ŏ∀Ŏ)･;ﾞ.:’;、</string>
			<string>(*｀･ω･)ゞ</string>
			<string>(*｀益´*)</string>
			<string>(*´･ω･)(･ω･｀*)</string>
			<string>(*´ω｀*)</string>
			<string>(*＾＾*)</string>
			<string>（*＾-＾*）</string>
			<string>(*・〜・*)</string>
			<string>(*・ω・)</string>
			<string>(*‘ω‘ *)</string>
			<string>(*∂ω∂*｀)</string>
			<string>(*∩ω∩)</string>
			<string>(*≧∀≦*)</string>
			<string>(*ﾟÅﾟ；*)</string>
			<string>（*థ౪థ）</string>
			<string>(*ﾟｪﾟ*)</string>
			<string>(*ﾉ∀`*)</string>
			<string>(*ﾉ∀◕ฺ*)σ</string>
			<string>(/ω＼)</string>
			<string>(つд・)</string>
			<string>（#＾ω＾）</string>
		</array>
	</array>
</dict>
</plist>
